html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
}

.dropdown-toggle::after {
    color:white;
}

.museum-custom-background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../proyect-images/sala-del-museo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.fish-custom-background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../proyect-images/fondo-marino-siluetas.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.related-fish {
    background-color: darkblue;
}

.related-fish-header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../proyect-images/fondo-marino.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.related-text {
    color: white;
}

.related-fish .custom-card {
    width: 100%;
    height: 80px;
    padding: 32px;
}

.related-museum-header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../proyect-images/interior-museo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

