.fish-custom-background {
    background: linear-gradient(135deg, #56ccf2 0%, #2f80ed 100%);
    padding: 3rem 0;
}

.related-fish {
    background-color: darkblue;
}

.related-text {
    color: white;
}

.related-fish .custom-card {
    width: 100%;
    height: 80px;
    padding: 32px;
}