@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }


  
}

footer {
    margin-top: auto;
    margin-bottom: 0;
  }

.welcome-hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/interior-museo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
    
}

.second-hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/sala-del-museo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
    
}


.welcome-hero-adapted {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/interior-museo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    
}


.second-hero-adapted {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/sala-del-museo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 65vh;
    
}


.section-logo {
  width: 80px !important;
  height: 80px !important;
  
  max-width: 80px;
  max-height: 80px;

  object-fit: contain;
  border-radius: 50%;
}