<nav class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> <a href="/"
                class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> <svg class="bi me-2"
                    width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg> </a>

            <div class="d-flex align-items-start gap-3">
                
                <a href="/welcome-user" class="nav-link px-2 text-white">Página principal</a>
                <a href="/section/peces" class="nav-link px-2 text-white">Peces</a>
                <a href="/section/insectos" class="nav-link px-2 text-white">Insectos</a>
                <a href="/section/fosiles" class="nav-link px-2 text-white">Fósiles</a>
                <a href="/section/arte" class="nav-link px-2 text-white">Obras de arte</a>
                
            </div>

            <div class="me-auto"></div>

            {{^logged}}
            <div class="text-end">
                <a href="/login" class="btn btn-outline-light me-2">Iniciar sesión</a>
                <a href="/register" class="btn btn-warning">Registrarse</a>
            </div>
            {{/logged}}

            {{#logged}}
            <div class="dropdown text-end"> <a href="#"
                    class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{^user.image}}
                        <img src="/assets/images/perfil-sin-foto.png" alt="" width="45" height="45" class="rounded-circle">
                    {{/user.image}}

                    {{#user.image}}           
                        <img src="/images/{{user.image.id}}" alt="Logo app" class="me-3 rounded-circle mb-3" style="height:80px;">
                    {{/user.image}}
                                        
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="/profile">Perfil</a></li>

                    {{^admin}}
                    <li><a class="dropdown-item" href="/statistics">Estadísticas y favoritos</a></li>
                    {{/admin}}

                    <li><!--<a class="dropdown-item" href="/logout">-->
                        <form action="/logout" method="post" class="d-inline">
                            <button class="btn btn-primary btn-nowrap" type="submit">Cerrar sesión</button>
                            <input type="hidden" name="_csrf" value="{{token}}" />
                        </form>
                    </li>

                </ul>
            </div>
            {{/logged}}





        </div>
    </div>
</nav>