{{#sectionElements}}
<div class="col mb-5">
    <div class="card h-100">
        
        <img class="card-img-top" src="{{objectSectionImage}}" alt="{{nameElement}}" />

        
        <div class="card-body p-4">
            <div class="text-center">
                
                <h5 class="fw-bolder">{{nameElement}}</h5>
                <span class="badge {{type}} rounded-pill">{{categoryName}}</span>
            </div>
        </div>

        
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="{{goToElement}}">Seleccionar</a>
                {{#admin}}
                <a class="btn btn-danger mt-auto" href="{{goToElement}}">Eliminar</a>
                {{/admin}}
            </div>
        </div>
    </div>
</div>
{{/sectionElements}}