<header class="py-5 {{hero-class}}">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <div class="d-flex align-items-center justify-content-center">
                <img src="{{hero-logo}}" alt="Logo app" class="me-3 rounded-circle" style="height:120px;">
                <h1 class="display-4 fw-bolder">{{hero-title}}</h1>
            </div>
            <br>
            <br>
            <h4 class="text-center text-white">{{hero-info}}</h4>
        </div>
    </div>
</header>