<header class="py-5 related-museum-header">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <div class="d-flex align-items-center justify-content-center">

                <h1 class="display-4 fw-bolder">¡Bienvenido a Museoteca!</h1>
            </div>
            <br>
            <br>
            <h4 class="text-center text-white">El lugar donde podrá encontrar y aprender acerca de algunas temáticas
                que seguro que le resultarán interesantes.</h4>
        </div>
    </div>
</header>