<nav class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> <a href="/"
                class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"> <svg class="bi me-2"
                    width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg> </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <!--{{#menuItems}}-->
                <li>
                    <a href="{{initialUrl}}" class="nav-link px-2 text-white">Página de inicio</a>
                    <a href="{{pecesUrl}}" class="nav-link px-2 text-white">Peces</a>
                    <a href="{{insectosUrl}}" class="nav-link px-2 text-white">Insectos</a>
                    <a href="{{fosilesUrl}}" class="nav-link px-2 text-white">Fósiles</a>
                    <a href="{{obrasArteUrl}}" class="nav-link px-2 text-white">Obras de arte</a>
                </li>
                <!--{{/menuItems}}-->
            </ul>

            <div class="text-end">
                <a href="/login" class="btn btn-outline-light me-2">Iniciar sesión</a>
                <a href="/register" class="btn btn-warning">Registrarse</a>
            </div>
        </div>
    </div>
</nav>