<!DOCTYPE html>
<html lang="en">

{{> partials/shop-homepage-template}}

<body>
    <!-- Navigation-->
    {{> partials/nav-anonymous}}
    <!-- Header-->
    {{> partials/hero-section}}


    {{> partials/no-filters-anonymous}}


    <!-- Section-->
    <section class="py-5" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{backgroundSectionImage}}); background-size: cover; background-position: center; background-repeat: no-repeat; min-height:40vh">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {{#sectionElements}}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{objectSectionImage}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{nameElement}}</h5>
                                <span class="badge {{type}} rounded-pill">{{categoryName}}</span>

                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                    href="{{goToElement}}">Seleccionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/sectionElements}}

                <!-- Product actions-->
                <div class="d-flex justify-content-center">
                    <button id="loadItems" class="btn btn-secondary px-3" type="button">
                        <i class="bi bi-eye-fill"></i>
                        Ver más
                    </button>
                </div>
            </div>
        </div>


    </section>
    <!-- Footer-->
    {{> partials/footer}}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>