<!DOCTYPE html>
<html lang="en">

{{> partials/shop-item-template}}

<body>
    <!-- Navigation-->
    {{> partials/nav-anonymous}}
    <!-- Product section-->
    <section class="py-5"
        style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{backgroundSectionImage}}); background-size: cover; background-position: center; background-repeat: no-repeat; min-height:40vh">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">

                {{^admin}}

                <div class="card mb-4 rounded-3 shadow-sm border-secondary">

                    <div class="card-body">
                        <h1 class="display-5 fw-bolder">{{nameElement}}</h1>
                        <div class="fs-5 mb-5">
                            <span>{{groupNameElement}}</span>
                            <br>
                            <span class="badge {{type}} rounded-pill">{{categoryName}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-5">
                    <img class="card-img-top mb-5 mb-md-0 rounded" src="/images/{{elementImage}}"
                        alt="{{nameElement}}" />
                    <br>
                </div>

                <div class="col-md-6">

                    <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                        <div class="card-header py-3 text-bg-secondary border-secondary text-center">
                            <h4 class="my-0 fw-normal">Ficha técnica</h4>
                        </div>
                        <div class="card-body">
                            {{technicalData}}
                        </div>
                    </div>

                </div>


                <div class="card mb-4 rounded-3 shadow-sm border-secondary">

                    <div class="card-body">

                        <p class="lead">
                            {{descriptionElement}}
                        </p>

                    </div>
                </div>

                <div class="d-flex justify-content-center gap-3 mb-3">
                    <a href="{{backUrl}}" class="btn btn-danger px-3" type="button">
                        <i class="bi bi-arrow-left"></i>
                        Volver
                    </a>


                    {{#logged}}
                    <div class="d-flex justify-content-center gap-3">


                        {{#isSeen}}

                        <button class="btn btn-success px-3" type="button" disabled>
                            <i class="bi bi-check2"></i>
                            Ya visto
                        </button>

                        {{/isSeen}}

                        {{^isSeen}}
                        <form action="/objects/{{elementId}}/seen" method="post">
                            <input type="hidden" name="_csrf" value="{{token}}">
                            <button class="btn btn-success px-3" type="submit">
                                 <i class="bi bi-check2"></i>
                                 Visto
                            </button>
                        </form>

                        {{/isSeen}}

                        
                        <a href="/object/{{elementId}}/add-note" class="btn btn-secondary px-3">
                            <i class="bi bi-card-text"></i>
                            Añadir nota
                        </a>

                    </div>
                </div>
                {{/logged}}


                {{#logged}}
                <div class="card mb-4 rounded-3 shadow-sm border-secondary justify-content-center mt-3">
                    <h1 class="display-5 fw-bolder text-center mt-3 mb-3">Tus notas:</h1>

                    {{#userNotes}}
                    <div class="card mb-4 rounded-3 shadow-sm border-secondary mx-3">
                        <div class="card-body">
                            <p>{{text}}</p>

                            <div class="d-flex justify-content-end">
                                <form action="/deleteNote/{{id}}" method="post">
                                    <input type="hidden" name="sectionName" value="{{type}}">
                                    <input type="hidden" name="objectId" value="{{elementId}}">
                                    <input type="hidden" name="_csrf" value="{{token}}">

                                    <button type="submit" class="btn btn-outline-danger btn-sm">
                                        <i class="bi bi-trash"></i> Borrar
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{/userNotes}}

                    {{^userNotes}}
                    <p class="text-center text-muted pb-3">Aún no has escrito ninguna nota sobre este objeto.</p>
                    {{/userNotes}}
                </div>
                {{/logged}}


                {{/admin}}

            </div>
        </div>



        {{#admin}}
        <form action="/objects/edit/{{elementId}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="{{token}}">

            <div class="card mb-4 rounded-3 shadow-sm border-secondary col-md-6 mx-auto">
                <div class="card-body">
                    <div class="fs-5 mb-3">
                        <label class="form-label">Nombre: </label>
                        <input type="text" name="objectName" class="form-control" value="{{nameElement}}">
                    </div>

                    <div class="fs-5 mb-3">
                        <label class="form-label">Dato de interés: </label>
                        <input type="text" name="groupName" class="form-control" value="{{groupNameElement}}">
                    </div>

                    <div class="fs-5 mb-3">
                        <label class="form-label">Tipo: </label>
                        <input type="text" name="category" class="form-control" value="{{categoryName}}">
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3 mb-5 mx-auto d-flex flex-column align-items-center">
                <img class="card-img-top mb-5 mb-md-0 rounded" src="/images/{{elementImage}}" alt="{{nameElement}}" />

                <div class="d-flex gap-2 mt-3">
                    <label class="btn btn-secondary m-0">
                        <i class="bi bi-file-earmark-image"></i>
                        Cambiar imagen
                        <input type="file" name="imageField" style="display: none;">
                    </label>

                </div>
            </div>

            <div class="col-md-6 mx-auto">
                <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                    <div class="card-header py-3 text-bg-secondary border-secondary text-center">
                        <h4 class="my-0 fw-normal">Ficha técnica</h4>
                    </div>
                    <div class="card-body">
                        <div class="fs-5">
                            <label class="form-label">Datos: </label>
                        </div>
                        <textarea name="technicalData" class="form-control" rows="12">{{technicalData}}</textarea>
                    </div>
                </div>
            </div>

            <div class="card mb-4 rounded-3 shadow-sm border-secondary col-md-6 mx-auto">
                <div class="card-body">
                    <div class="fs-5">
                        <label class="form-label">Información: </label>
                    </div>
                    <textarea name="description" class="form-control" rows="12">{{descriptionElement}}</textarea>
                </div>
            </div>

            <div class="d-flex justify-content-center gap-3 mb-5">
                <a href="{{backUrl}}" class="btn btn-danger px-3">
                    <i class="bi bi-arrow-left"></i>
                    Volver
                </a>

                <button class="btn btn-success px-3" type="submit">
                    <i class="bi bi-check2"></i>
                    Aceptar cambios
                </button>
            </div>
        </form>
        {{/admin}}

    </section>

    <!-- Footer-->
    {{> partials/footer}}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>





<!--<div class="card mb-4 rounded-3 shadow-sm border-secondary">
                    <div class="card-body">
                        <div class="fs-5">
                            <label class="form-label">Comentarios:</label>
                        </div>

                        {{#comments}}
                        <div class="card mb-3">
                            <textarea class="form-control" rows="3">{{text}}</textarea>
                            <div class="text-center mt-2">
                                <a class="btn btn-secondary" href="#"><i class="bi bi-pencil-square"></i> Editar</a>
                                <a class="btn btn-danger" href="#"><i class="bi bi-x-lg"></i> Eliminar</a>
                            </div>
                        </div>
                        {{/comments}}
                         //Botón para añadir un nuevo comentario siempre visible 
                        <div class="text-center mt-3">
                            <a class="btn btn-secondary" href="#"><i class="bi bi-plus-lg"></i> Añadir comentario</a>
                        </div>
                    </div>
                </div>-->