<!DOCTYPE html>
<html lang="en">
{{> partials/shop-item-template}}

<body>
    {{> partials/nav-anonymous}}

    <section class="py-5"
        style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{formImage}}); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 80vh;">

        <div class="container px-4 px-lg-5 my-5">
            <form action="/newObject" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="{{token}}">

                <div class="row gx-4 gx-lg-5 align-items-start">

                    <div class="col-md-6">
                        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                            <div class="card-body">
                                <div class="fs-5 mb-3">
                                    <label for="object-name-edited" class="form-label">Nombre: </label>
                                    <input type="text" class="form-control" id="object-name-edited" name="objectName"
                                        required>
                                </div>

                                <div class="fs-5 mb-3">
                                    <label for="object-groupName-edited" class="form-label">Dato de interés: </label>
                                    <input type="text" class="form-control" id="object-groupName-edited"
                                        name="groupName" required>
                                </div>

                                <div class="fs-5 mb-3">
                                    <label class="form-label">Tipo: </label>
                                    <input type="text" class="form-control bg-light" value="{{sectionName}}" readonly>

                                    <input type="hidden" name="type" value="{{sectionName}}">
                                </div>

                                <div class="fs-5 mb-3">
                                    <label class="form-label">Categoría: </label>
                                    <select name="category" id="categorySelect" class="form-select">

                                        {{#isPeces}}
                                        <optgroup label="Peces" data-type="peces">
                                            <option value="Agua dulce">Agua dulce</option>
                                            <option value="Mar">Mar</option>
                                            <option value="Abisales">Abisales</option>
                                        </optgroup>
                                        {{/isPeces}}

                                        {{#isInsectos}}
                                        <optgroup label="Insectos" data-type="insectos">
                                            <option value="Terrestres">Terrestres</option>
                                            <option value="Aéreos">Aéreos</option>
                                            <option value="Acuáticos">Acuáticos</option>
                                        </optgroup>
                                        {{/isInsectos}}

                                        {{#isFosiles}}
                                        <optgroup label="Fósiles" data-type="fosiles">
                                            <option value="Prehistóricos">Prehistóricos</option>
                                            <option value="Minerales">Minerales</option>
                                        </optgroup>
                                        {{/isFosiles}}

                                        {{#isArte}}
                                        <optgroup label="Obras de arte" data-type="arte">
                                            <option value="Pintura">Pintura</option>
                                            <option value="Escultura">Escultura</option>
                                            <option value="Cerámica">Cerámica</option>
                                        </optgroup>
                                        {{/isArte}}
                                    </select>
                                </div>


                            </div>
                        </div>

                        <div class="card mb-4 rounded-3 shadow-sm border-secondary p-3 text-center">
                            <label class="form-label">Imagen del objeto:</label>
                            <input type="file" name="imageField" class="form-control mb-2">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                            <div class="card-header py-3 text-bg-secondary border-secondary text-center">
                                <h4 class="my-0 fw-normal">Ficha técnica</h4>
                            </div>
                            <div class="card-body">
                                <label for="object-technicalData-edited" class="form-label">Datos:</label>
                                <textarea class="form-control" id="object-technicalData-edited" rows="5"
                                    name="technicalData"></textarea>
                            </div>
                        </div>

                        <div class="card mb-4 rounded-3 shadow-sm border-secondary">
                            <div class="card-body">
                                <label for="object-description-edited" class="form-label">Información:</label>
                                <textarea class="form-control" id="object-description-edited" rows="5"
                                    name="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center gap-3 mt-3">
                    <a href="/section/{{backToSection}}" class="btn btn-danger px-5">
                        <i class="bi bi-arrow-left"></i> Volver
                    </a>
                    <button class="btn btn-success px-5" type="submit">
                        <i class="bi bi-check2"></i> Crear y guardar
                    </button>
                </div>
            </form>
        </div>
    </section>

    {{> partials/footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/createObjectFormLogic.js"></script>
</body>

</html>