<!DOCTYPE html>
<html lang="en">

{{> partials/shop-item-template}}

<body>
    <!-- Navigation-->
    {{> partials/nav-anonymous}}
    <!-- Product section-->
    <section class="py-5"
        style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{museumRoomImage}}); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 80vh;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center justify-content-center">

                <div class="col-md-6">

                    <div class="card mb-4 rounded-3 shadow-sm border-primary">

                        <div class="modal-content rounded-4 shadow">
                            <div class="modal-header p-5 pb-4 border-bottom-0 justify-content-center">
                                <h1 class="fw-bold mb-0 fs-2">Su perfil</h1>
                            </div>
                            <div class="modal-body p-5 pt-0">
                                <form action="/edit-profile" method="post" enctype="multipart/form-data">

                                    <div class="justify-content-center">
                                        {{^user.image}}
                                        <div class="d-flex justify-content-center">
                                            <img src="/assets/images/perfil-sin-foto.png" alt="Logo app"
                                            class="me-3 rounded-circle mb-3" style="height:80px;">
                                        </div>
                                        

                                        <div class="mb-3">
                                            <label for="imageField" class="form-label">Cambiar imagen:</label>

                                            <input type="file" name="imageField" id="imageField" class="form-control"
                                                accept=".png" />
                                            <!--<input type="submit" value="Save" />-->

                                        </div>
                                        {{/user.image}}

                                        {{#user.image}}
                                        <div class="d-flex justify-content-center">
                                            <img src="/images/{{user.image.id}}" alt="Logo app"
                                            class="me-3 rounded-circle mb-3" style="height:80px;">
                                        </div>

                                        <div class="mb-3">
                                            <label for="imageField" class="form-label">Cambiar imagen:</label>

                                            <input type="file" name="imageField" id="imageField" class="form-control"
                                                accept=".png" />
                                            <!--<input type="submit" value="Save" />-->

                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <button type="submit" form="deleteImageForm"
                                            class="btn btn-danger btn-sm mb-4">
                                            <i class="bi bi-trash"></i> Eliminar
                                        </button>
                                        </div>
                                        
                                        {{/user.image}}


                                        <div class="form-floating mb-3"> <input type="text" name="name"
                                                class="form-control rounded-3" id="floatingInput" value="{{user.name}}">
                                            <label for="floatingInput">Nombre de usuario</label>

                                        </div>
                                        <div class="form-floating mb-3"> <input type="password"
                                                class="form-control rounded-3" name="encodedPassword"
                                                id="floatingPassword">
                                            <label for="floatingPassword">Contraseña</label>

                                            <input type="hidden" name="_csrf" value="{{token}}">


                                        </div> 
                                        
                                        <div class="d-flex justify-content-center">
                                            <input type="submit" value="Aceptar"></input>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="d-flex justify-content-center gap-3">
                    <a href="/welcome-user" class="btn btn-danger px-3" type="button">
                        <i class="bi bi-arrow-left"></i>
                        Volver
                    </a>

                </div>
            </div>
        </div>
    </section>

    <form id="deleteImageForm" action="/remove-profile-image" method="post" style="display:none;">
        <input type="hidden" name="_csrf" value="{{token}}" />
    </form>

    <!-- Footer-->
    {{> partials/footer}}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>